@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.clock-wrapper {
  position: absolute;
  top: 55%;
  left: 25%;
  height: 47%;
  width: 47%;
  background-color: #eceef0;
  overflow: hidden;
	margin-bottom: 10%;
}
.clock-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 460px;
  height: 460px;
  border-width: 18px;
  border-color: transparent #d2d8df #d2d8df;
  border-style: solid;
  border-radius: 50%;
  background-clip: padding-box;
  border-radius: 50%;
  background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  animation: rotate-clock-border 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation: rotate-clock-border 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation: rotate-clock-border 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation: rotate-clock-border 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
}
.clock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  padding: 0;
  background-color: #262c33;
  border: 18px solid #373f4a;
  border-radius: 50%;
  background-clip: padding-box;
  border-radius: 50%;
  background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform: rotate(-45deg);
  animation: counterrotate-clock 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation: counterrotate-clock 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation: counterrotate-clock 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation: counterrotate-clock 0.69s cubic-bezier(0.645, 0, 0.605, 1) 0.69s 1 forwards;
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
  animation-timing-function: cubic-bezier(0.645, -0.18, 0.605, 1.36);
}
lesshat-selector {
  property: 0; } 
@keyframes rotate-clock-border{ 0%{ transform: rotate( 45deg); } 100%{ transform: rotate( 315deg); }}
@keyframes rotate-clock-border{ 0%{ transform: rotate( 45deg); } 100%{ transform: rotate( 315deg); }}
@keyframes rotate-clock-border{ 0%{ transform: rotate( 45deg); } 100%{ transform: rotate( 315deg); }}
@keyframes rotate-clock-border{ 0%{transform: rotate( 45deg);transform: rotate( 45deg);transform: rotate( 45deg);transform: rotate( 45deg); } 100%{transform: rotate( 315deg);transform: rotate( 315deg);transform: rotate( 315deg);transform: rotate( 315deg); }}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  property: 0; } 
@keyframes counterrotate-clock{ 0%{ transform: rotate(-45deg); } 100%{ transform: rotate(-315deg); }}
@keyframes counterrotate-clock{ 0%{ transform: rotate(-45deg); } 100%{ transform: rotate(-315deg); }}
@keyframes counterrotate-clock{ 0%{ transform: rotate(-45deg); } 100%{ transform: rotate(-315deg); }}
@keyframes counterrotate-clock{ 0%{transform: rotate(-45deg);transform: rotate(-45deg);transform: rotate(-45deg);transform: rotate(-45deg); } 100%{transform: rotate(-315deg);transform: rotate(-315deg);transform: rotate(-315deg);transform: rotate(-315deg); }}
[not-existing] {
  zoom: 1;
}
.hour {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(84deg);
  transform: rotate(84deg);
  transform: rotate(84deg);
  transform: rotate(84deg);
  transform: rotate(84deg);
}
.hour .hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: tick 43200s normal infinite steps(3600, end) 3s;
  animation: tick 43200s normal infinite steps(3600, end) 3s;
  animation: tick 43200s normal infinite steps(3600, end) 3s;
  animation: tick 43200s normal infinite steps(3600, end) 3s;
}
.hour .hand:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  top: 0;
  width: 16px;
  height: 120px;
  height: 0;
  border-top-left-radius: 2px;
  border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  border-radius-topright: 2px;
  background-clip: padding;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  background-color: #fff;
}
.hour .hand:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  display: inline-block;
  border-bottom: 16px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  width: 0px;
  height: 0px;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
}
.hour .hand:before {
  animation: hour-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation: hour-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation: hour-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation: hour-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
}
.hour .hand:before lesshat-selector {
  property: 0; } 
@keyframes hour-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 120px; top: -120px; }}
@keyframes hour-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 120px; top: -120px; }}
@keyframes hour-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 120px; top: -120px; }}
@keyframes hour-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 120px; top: -120px; }}
[not-existing] {
  zoom: 1;
}
.hour .hand:after {
  animation: hour-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation: hour-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation: hour-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation: hour-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.35s 1 forwards;
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
}
.hour .hand:after lesshat-selector {
  property: 0; } 
@keyframes hour-grow-after{ 0%{ top: 0; } 100%{ top: -254px; }}
@keyframes hour-grow-after{ 0%{ top: 0; } 100%{ top: -254px; }}
@keyframes hour-grow-after{ 0%{ top: 0; } 100%{ top: -254px; }}
@keyframes hour-grow-after{ 0%{ top: 0; } 100%{ top: -254px; }}
[not-existing] {
  zoom: 1;
}
.minute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(288deg);
  transform: rotate(288deg);
  transform: rotate(288deg);
  transform: rotate(288deg);
  transform: rotate(288deg);
}
.minute .hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: tick 3600s normal infinite steps(3600, end) 3s;
  animation: tick 3600s normal infinite steps(3600, end) 3s;
  animation: tick 3600s normal infinite steps(3600, end) 3s;
  animation: tick 3600s normal infinite steps(3600, end) 3s;
}
.minute .hand:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  top: 0;
  width: 12px;
  height: 168px;
  height: 0;
  border-top-left-radius: 2px;
  border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  border-radius-topright: 2px;
  background-clip: padding;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  background-color: #fff;
}
.minute .hand:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  display: inline-block;
  border-bottom: 12px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  width: 0px;
  height: 0px;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
  transform-origin: center 100%;
}
.minute .hand:before {
  animation: minute-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation: minute-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation: minute-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation: minute-grow-before 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
}
.minute .hand:before lesshat-selector {
  property: 0; } 
@keyframes minute-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 168px; top: -168px; }}
@keyframes minute-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 168px; top: -168px; }}
@keyframes minute-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 168px; top: -168px; }}
@keyframes minute-grow-before{ 0%{ height: 0; top: 0; } 100%{ height: 168px; top: -168px; }}
[not-existing] {
  zoom: 1;
}
.minute .hand:after {
  animation: minute-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation: minute-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation: minute-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation: minute-grow-after 0.4s cubic-bezier(0.69, 0, 0.49, 1) 1.6s 1 forwards;
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
  animation-timing-function: cubic-bezier(0.69, -0.06, 0.49, 1.4);
}
.minute .hand:after lesshat-selector {
  property: 0; } 
@keyframes minute-grow-after{ 0%{ top: 0; } 100%{ top: -346px; }}
@keyframes minute-grow-after{ 0%{ top: 0; } 100%{ top: -346px; }}
@keyframes minute-grow-after{ 0%{ top: 0; } 100%{ top: -346px; }}
@keyframes minute-grow-after{ 0%{ top: 0; } 100%{ top: -346px; }}
[not-existing] {
  zoom: 1;
}
.second {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(0);
  transform: rotate(0);
  transform: rotate(0);
  transform: rotate(0);
  transform: rotate(0);
}
.second .hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: tick-second 1s normal infinite steps(30, end) 3s;
  animation: tick-second 1s normal infinite steps(30, end) 3s;
  animation: tick-second 1s normal infinite steps(30, end) 3s;
  animation: tick-second 1s normal infinite steps(30, end) 3s;
}
.second .hand:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 8px;
  height: 0px;
  background-color: #f16b41;
  border-radius: 8px;
  background-clip: padding-box;
  border-radius: 8px;
  background-clip: padding;
  border-radius: 8px;
  background-clip: padding-box;
  transform-origin: center 180px;
  transform-origin: center 180px;
  transform-origin: center 180px;
  transform-origin: center 180px;
  transform-origin: center 180px;
  animation: second-grow 1.6s cubic-bezier(1, 0, 0, 1) 1.45s 1 forwards, second 60s normal infinite steps(60, end) 3s;
  animation: second-grow 1.6s cubic-bezier(1, 0, 0, 1) 1.45s 1 forwards, second 60s normal infinite steps(60, end) 3s;
  animation: second-grow 1.6s cubic-bezier(1, 0, 0, 1) 1.45s 1 forwards, second 60s normal infinite steps(60, end) 3s;
  animation: second-grow 1.6s cubic-bezier(1, 0, 0, 1) 1.45s 1 forwards, second 60s normal infinite steps(60, end) 3s;
}
.second .hand:before lesshat-selector {
  property: 0; } 
@keyframes second-grow{ from { top: 0; height: 0; } 100%{ top: -120px; height: 240px; }}
@keyframes second-grow{ from { top: 0; height: 0; } 100%{ top: -120px; height: 240px; }}
@keyframes second-grow{ from { top: 0; height: 0; } 100%{ top: -120px; height: 240px; }}
@keyframes second-grow{ from { top: 0; height: 0; } 100%{ top: -120px; height: 240px; }}
[not-existing] {
  zoom: 1;
}
.second .hand:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-clip: padding-box;
  border-radius: 32px;
  background-clip: padding;
  border-radius: 32px;
  background-clip: padding-box;
  background-color: #f16b41;
}
lesshat-selector {
  property: 0; } 
@keyframes tick{ 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); }}
@keyframes tick{ 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); }}
@keyframes tick{ 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); }}
@keyframes tick{ 0%{transform: rotate(0deg);transform: rotate(0deg);transform: rotate(0deg);transform: rotate(0deg); } 100%{transform: rotate(360deg);transform: rotate(360deg);transform: rotate(360deg);transform: rotate(360deg); }}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  property: 0; } 
@keyframes second{ 0%{ transform: rotate(0deg) } 100%{ transform: rotate(360deg) }}
@keyframes second{ 0%{ transform: rotate(0deg) } 100%{ transform: rotate(360deg) }}
@keyframes second{ 0%{ transform: rotate(0deg) } 100%{ transform: rotate(360deg) }}
@keyframes second{ 0%{transform: rotate(0deg);transform: rotate(0deg);transform: rotate(0deg);transform: rotate(0deg);} 100%{transform: rotate(360deg);transform: rotate(360deg);transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  property: 0; } 
@keyframes tick-second{ 0%{ transform: rotate(0deg); } 21%{ transform: rotate(4deg); } 26%{ transform: rotate(8deg); } 33%{ transform: rotate(4deg); } 37%{ transform: rotate(6deg); } 100%{ transform: rotate(6deg); }}
@keyframes tick-second{ 0%{ transform: rotate(0deg); } 21%{ transform: rotate(4deg); } 26%{ transform: rotate(8deg); } 33%{ transform: rotate(4deg); } 37%{ transform: rotate(6deg); } 100%{ transform: rotate(6deg); }}
@keyframes tick-second{ 0%{ transform: rotate(0deg); } 21%{ transform: rotate(4deg); } 26%{ transform: rotate(8deg); } 33%{ transform: rotate(4deg); } 37%{ transform: rotate(6deg); } 100%{ transform: rotate(6deg); }}
@keyframes tick-second{ 0%{transform: rotate(0deg);transform: rotate(0deg);transform: rotate(0deg);transform: rotate(0deg); } 21%{transform: rotate(4deg);transform: rotate(4deg);transform: rotate(4deg);transform: rotate(4deg); } 26%{transform: rotate(8deg);transform: rotate(8deg);transform: rotate(8deg);transform: rotate(8deg); } 33%{transform: rotate(4deg);transform: rotate(4deg);transform: rotate(4deg);transform: rotate(4deg); } 37%{transform: rotate(6deg);transform: rotate(6deg);transform: rotate(6deg);transform: rotate(6deg); } 100%{transform: rotate(6deg);transform: rotate(6deg);transform: rotate(6deg);transform: rotate(6deg); }}
[not-existing] {
  zoom: 1;
}
.minute-marks {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 0px;
  height: 0px;
}
.minute-marks li {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 200px;
  height: 200px;
}
.minute-marks li:before,
.minute-marks li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;
  display: inline-block;
  border-color: #d4d5d6;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  background-clip: padding-box;
  border-radius: 4px;
  background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  opacity: 0;
  opacity: 0;
  animation: fade-in 0.1s ease 0s 1 forwards;
  animation: fade-in 0.1s ease 0s 1 forwards;
  animation: fade-in 0.1s ease 0s 1 forwards;
  animation: fade-in 0.1s ease 0s 1 forwards;
}
.minute-marks li:before lesshat-selector,
.minute-marks li:after lesshat-selector {
  property: 0; } 
@keyframes fade-in{ from{ opacity: 0; opacity: 0; opacity: 0; opacity: 0; } to{ opacity: 1; opacity: 1; opacity: 1; opacity: 1; }}
@keyframes fade-in{ from{ opacity: 0; opacity: 0; opacity: 0; opacity: 0; } to{ opacity: 1; opacity: 1; opacity: 1; opacity: 1; }}
@keyframes fade-in{ from{ opacity: 0; opacity: 0; opacity: 0; opacity: 0; } to{ opacity: 1; opacity: 1; opacity: 1; opacity: 1; }}
@keyframes fade-in{ from{ opacity: 0; opacity: 0; opacity: 0; opacity: 0; } to{ opacity: 1; opacity: 1; opacity: 1; opacity: 1; }}
[not-existing] {
  zoom: 1;
}
.minute-marks li:before {
  top: -380px;
}
.minute-marks li:after {
  bottom: -380px;
}
.minute-marks li.five:before,
.minute-marks li.five:after {
  width: 0px;
  height: 20px;
}
.minute-marks li.five:before {
  top: -360px;
}
.minute-marks li.five:after {
  bottom: -360px;
}
.minute-marks li:nth-child(1) {
  transform: rotate(0);
  transform: rotate(0);
  transform: rotate(0);
  transform: rotate(0);
  transform: rotate(0);
}
.minute-marks li:nth-child(1):before {
  animation-delay: 0.017s;
  animation-delay: 0.017s;
  animation-delay: 0.017s;
  animation-delay: 0.017s;
}
.minute-marks li:nth-child(1):after {
  animation-delay: 0.544s;
  animation-delay: 0.544s;
  animation-delay: 0.544s;
  animation-delay: 0.544s;
}
.minute-marks li:nth-child(2) {
  transform: rotate(6deg);
  transform: rotate(6deg);
  transform: rotate(6deg);
  transform: rotate(6deg);
  transform: rotate(6deg);
}
.minute-marks li:nth-child(2):before {
  animation-delay: 0.034s;
  animation-delay: 0.034s;
  animation-delay: 0.034s;
  animation-delay: 0.034s;
}
.minute-marks li:nth-child(2):after {
  animation-delay: 0.561s;
  animation-delay: 0.561s;
  animation-delay: 0.561s;
  animation-delay: 0.561s;
}
.minute-marks li:nth-child(3) {
  transform: rotate(12deg);
  transform: rotate(12deg);
  transform: rotate(12deg);
  transform: rotate(12deg);
  transform: rotate(12deg);
}
.minute-marks li:nth-child(3):before {
  animation-delay: 0.051000000000000004s;
  animation-delay: 0.051000000000000004s;
  animation-delay: 0.051000000000000004s;
  animation-delay: 0.051000000000000004s;
}
.minute-marks li:nth-child(3):after {
  animation-delay: 0.5780000000000001s;
  animation-delay: 0.5780000000000001s;
  animation-delay: 0.5780000000000001s;
  animation-delay: 0.5780000000000001s;
}
.minute-marks li:nth-child(4) {
  transform: rotate(18deg);
  transform: rotate(18deg);
  transform: rotate(18deg);
  transform: rotate(18deg);
  transform: rotate(18deg);
}
.minute-marks li:nth-child(4):before {
  animation-delay: 0.068s;
  animation-delay: 0.068s;
  animation-delay: 0.068s;
  animation-delay: 0.068s;
}
.minute-marks li:nth-child(4):after {
  animation-delay: 0.595s;
  animation-delay: 0.595s;
  animation-delay: 0.595s;
  animation-delay: 0.595s;
}
.minute-marks li:nth-child(5) {
  transform: rotate(24deg);
  transform: rotate(24deg);
  transform: rotate(24deg);
  transform: rotate(24deg);
  transform: rotate(24deg);
}
.minute-marks li:nth-child(5):before {
  animation-delay: 0.085s;
  animation-delay: 0.085s;
  animation-delay: 0.085s;
  animation-delay: 0.085s;
}
.minute-marks li:nth-child(5):after {
  animation-delay: 0.612s;
  animation-delay: 0.612s;
  animation-delay: 0.612s;
  animation-delay: 0.612s;
}
.minute-marks li:nth-child(6) {
  transform: rotate(30deg);
  transform: rotate(30deg);
  transform: rotate(30deg);
  transform: rotate(30deg);
  transform: rotate(30deg);
}
.minute-marks li:nth-child(6):before {
  animation-delay: 0.10200000000000001s;
  animation-delay: 0.10200000000000001s;
  animation-delay: 0.10200000000000001s;
  animation-delay: 0.10200000000000001s;
}
.minute-marks li:nth-child(6):after {
  animation-delay: 0.629s;
  animation-delay: 0.629s;
  animation-delay: 0.629s;
  animation-delay: 0.629s;
}
.minute-marks li:nth-child(7) {
  transform: rotate(36deg);
  transform: rotate(36deg);
  transform: rotate(36deg);
  transform: rotate(36deg);
  transform: rotate(36deg);
}
.minute-marks li:nth-child(7):before {
  animation-delay: 0.11900000000000001s;
  animation-delay: 0.11900000000000001s;
  animation-delay: 0.11900000000000001s;
  animation-delay: 0.11900000000000001s;
}
.minute-marks li:nth-child(7):after {
  animation-delay: 0.646s;
  animation-delay: 0.646s;
  animation-delay: 0.646s;
  animation-delay: 0.646s;
}
.minute-marks li:nth-child(8) {
  transform: rotate(42deg);
  transform: rotate(42deg);
  transform: rotate(42deg);
  transform: rotate(42deg);
  transform: rotate(42deg);
}
.minute-marks li:nth-child(8):before {
  animation-delay: 0.136s;
  animation-delay: 0.136s;
  animation-delay: 0.136s;
  animation-delay: 0.136s;
}
.minute-marks li:nth-child(8):after {
  animation-delay: 0.663s;
  animation-delay: 0.663s;
  animation-delay: 0.663s;
  animation-delay: 0.663s;
}
.minute-marks li:nth-child(9) {
  transform: rotate(48deg);
  transform: rotate(48deg);
  transform: rotate(48deg);
  transform: rotate(48deg);
  transform: rotate(48deg);
}
.minute-marks li:nth-child(9):before {
  animation-delay: 0.15300000000000002s;
  animation-delay: 0.15300000000000002s;
  animation-delay: 0.15300000000000002s;
  animation-delay: 0.15300000000000002s;
}
.minute-marks li:nth-child(9):after {
  animation-delay: 0.68s;
  animation-delay: 0.68s;
  animation-delay: 0.68s;
  animation-delay: 0.68s;
}
.minute-marks li:nth-child(10) {
  transform: rotate(54deg);
  transform: rotate(54deg);
  transform: rotate(54deg);
  transform: rotate(54deg);
  transform: rotate(54deg);
}
.minute-marks li:nth-child(10):before {
  animation-delay: 0.17s;
  animation-delay: 0.17s;
  animation-delay: 0.17s;
  animation-delay: 0.17s;
}
.minute-marks li:nth-child(10):after {
  animation-delay: 0.6970000000000001s;
  animation-delay: 0.6970000000000001s;
  animation-delay: 0.6970000000000001s;
  animation-delay: 0.6970000000000001s;
}
.minute-marks li:nth-child(11) {
  transform: rotate(60deg);
  transform: rotate(60deg);
  transform: rotate(60deg);
  transform: rotate(60deg);
  transform: rotate(60deg);
}
.minute-marks li:nth-child(11):before {
  animation-delay: 0.187s;
  animation-delay: 0.187s;
  animation-delay: 0.187s;
  animation-delay: 0.187s;
}
.minute-marks li:nth-child(11):after {
  animation-delay: 0.714s;
  animation-delay: 0.714s;
  animation-delay: 0.714s;
  animation-delay: 0.714s;
}
.minute-marks li:nth-child(12) {
  transform: rotate(66deg);
  transform: rotate(66deg);
  transform: rotate(66deg);
  transform: rotate(66deg);
  transform: rotate(66deg);
}
.minute-marks li:nth-child(12):before {
  animation-delay: 0.20400000000000001s;
  animation-delay: 0.20400000000000001s;
  animation-delay: 0.20400000000000001s;
  animation-delay: 0.20400000000000001s;
}
.minute-marks li:nth-child(12):after {
  animation-delay: 0.7310000000000001s;
  animation-delay: 0.7310000000000001s;
  animation-delay: 0.7310000000000001s;
  animation-delay: 0.7310000000000001s;
}
.minute-marks li:nth-child(13) {
  transform: rotate(72deg);
  transform: rotate(72deg);
  transform: rotate(72deg);
  transform: rotate(72deg);
  transform: rotate(72deg);
}
.minute-marks li:nth-child(13):before {
  animation-delay: 0.22100000000000003s;
  animation-delay: 0.22100000000000003s;
  animation-delay: 0.22100000000000003s;
  animation-delay: 0.22100000000000003s;
}
.minute-marks li:nth-child(13):after {
  animation-delay: 0.748s;
  animation-delay: 0.748s;
  animation-delay: 0.748s;
  animation-delay: 0.748s;
}
.minute-marks li:nth-child(14) {
  transform: rotate(78deg);
  transform: rotate(78deg);
  transform: rotate(78deg);
  transform: rotate(78deg);
  transform: rotate(78deg);
}
.minute-marks li:nth-child(14):before {
  animation-delay: 0.23800000000000002s;
  animation-delay: 0.23800000000000002s;
  animation-delay: 0.23800000000000002s;
  animation-delay: 0.23800000000000002s;
}
.minute-marks li:nth-child(14):after {
  animation-delay: 0.765s;
  animation-delay: 0.765s;
  animation-delay: 0.765s;
  animation-delay: 0.765s;
}
.minute-marks li:nth-child(15) {
  transform: rotate(84deg);
  transform: rotate(84deg);
  transform: rotate(84deg);
  transform: rotate(84deg);
  transform: rotate(84deg);
}
.minute-marks li:nth-child(15):before {
  animation-delay: 0.255s;
  animation-delay: 0.255s;
  animation-delay: 0.255s;
  animation-delay: 0.255s;
}
.minute-marks li:nth-child(15):after {
  animation-delay: 0.782s;
  animation-delay: 0.782s;
  animation-delay: 0.782s;
  animation-delay: 0.782s;
}
.minute-marks li:nth-child(16) {
  transform: rotate(90deg);
  transform: rotate(90deg);
  transform: rotate(90deg);
  transform: rotate(90deg);
  transform: rotate(90deg);
}
.minute-marks li:nth-child(16):before {
  animation-delay: 0.272s;
  animation-delay: 0.272s;
  animation-delay: 0.272s;
  animation-delay: 0.272s;
}
.minute-marks li:nth-child(16):after {
  animation-delay: 0.799s;
  animation-delay: 0.799s;
  animation-delay: 0.799s;
  animation-delay: 0.799s;
}
.minute-marks li:nth-child(17) {
  transform: rotate(96deg);
  transform: rotate(96deg);
  transform: rotate(96deg);
  transform: rotate(96deg);
  transform: rotate(96deg);
}
.minute-marks li:nth-child(17):before {
  animation-delay: 0.28900000000000003s;
  animation-delay: 0.28900000000000003s;
  animation-delay: 0.28900000000000003s;
  animation-delay: 0.28900000000000003s;
}
.minute-marks li:nth-child(17):after {
  animation-delay: 0.8160000000000001s;
  animation-delay: 0.8160000000000001s;
  animation-delay: 0.8160000000000001s;
  animation-delay: 0.8160000000000001s;
}
.minute-marks li:nth-child(18) {
  transform: rotate(102deg);
  transform: rotate(102deg);
  transform: rotate(102deg);
  transform: rotate(102deg);
  transform: rotate(102deg);
}
.minute-marks li:nth-child(18):before {
  animation-delay: 0.30600000000000005s;
  animation-delay: 0.30600000000000005s;
  animation-delay: 0.30600000000000005s;
  animation-delay: 0.30600000000000005s;
}
.minute-marks li:nth-child(18):after {
  animation-delay: 0.8330000000000001s;
  animation-delay: 0.8330000000000001s;
  animation-delay: 0.8330000000000001s;
  animation-delay: 0.8330000000000001s;
}
.minute-marks li:nth-child(19) {
  transform: rotate(108deg);
  transform: rotate(108deg);
  transform: rotate(108deg);
  transform: rotate(108deg);
  transform: rotate(108deg);
}
.minute-marks li:nth-child(19):before {
  animation-delay: 0.323s;
  animation-delay: 0.323s;
  animation-delay: 0.323s;
  animation-delay: 0.323s;
}
.minute-marks li:nth-child(19):after {
  animation-delay: 0.8500000000000001s;
  animation-delay: 0.8500000000000001s;
  animation-delay: 0.8500000000000001s;
  animation-delay: 0.8500000000000001s;
}
.minute-marks li:nth-child(20) {
  transform: rotate(114deg);
  transform: rotate(114deg);
  transform: rotate(114deg);
  transform: rotate(114deg);
  transform: rotate(114deg);
}
.minute-marks li:nth-child(20):before {
  animation-delay: 0.34s;
  animation-delay: 0.34s;
  animation-delay: 0.34s;
  animation-delay: 0.34s;
}
.minute-marks li:nth-child(20):after {
  animation-delay: 0.867s;
  animation-delay: 0.867s;
  animation-delay: 0.867s;
  animation-delay: 0.867s;
}
.minute-marks li:nth-child(21) {
  transform: rotate(120deg);
  transform: rotate(120deg);
  transform: rotate(120deg);
  transform: rotate(120deg);
  transform: rotate(120deg);
}
.minute-marks li:nth-child(21):before {
  animation-delay: 0.35700000000000004s;
  animation-delay: 0.35700000000000004s;
  animation-delay: 0.35700000000000004s;
  animation-delay: 0.35700000000000004s;
}
.minute-marks li:nth-child(21):after {
  animation-delay: 0.8840000000000001s;
  animation-delay: 0.8840000000000001s;
  animation-delay: 0.8840000000000001s;
  animation-delay: 0.8840000000000001s;
}
.minute-marks li:nth-child(22) {
  transform: rotate(126deg);
  transform: rotate(126deg);
  transform: rotate(126deg);
  transform: rotate(126deg);
  transform: rotate(126deg);
}
.minute-marks li:nth-child(22):before {
  animation-delay: 0.374s;
  animation-delay: 0.374s;
  animation-delay: 0.374s;
  animation-delay: 0.374s;
}
.minute-marks li:nth-child(22):after {
  animation-delay: 0.901s;
  animation-delay: 0.901s;
  animation-delay: 0.901s;
  animation-delay: 0.901s;
}
.minute-marks li:nth-child(23) {
  transform: rotate(132deg);
  transform: rotate(132deg);
  transform: rotate(132deg);
  transform: rotate(132deg);
  transform: rotate(132deg);
}
.minute-marks li:nth-child(23):before {
  animation-delay: 0.391s;
  animation-delay: 0.391s;
  animation-delay: 0.391s;
  animation-delay: 0.391s;
}
.minute-marks li:nth-child(23):after {
  animation-delay: 0.918s;
  animation-delay: 0.918s;
  animation-delay: 0.918s;
  animation-delay: 0.918s;
}
.minute-marks li:nth-child(24) {
  transform: rotate(138deg);
  transform: rotate(138deg);
  transform: rotate(138deg);
  transform: rotate(138deg);
  transform: rotate(138deg);
}
.minute-marks li:nth-child(24):before {
  animation-delay: 0.40800000000000003s;
  animation-delay: 0.40800000000000003s;
  animation-delay: 0.40800000000000003s;
  animation-delay: 0.40800000000000003s;
}
.minute-marks li:nth-child(24):after {
  animation-delay: 0.935s;
  animation-delay: 0.935s;
  animation-delay: 0.935s;
  animation-delay: 0.935s;
}
.minute-marks li:nth-child(25) {
  transform: rotate(144deg);
  transform: rotate(144deg);
  transform: rotate(144deg);
  transform: rotate(144deg);
  transform: rotate(144deg);
}
.minute-marks li:nth-child(25):before {
  animation-delay: 0.42500000000000004s;
  animation-delay: 0.42500000000000004s;
  animation-delay: 0.42500000000000004s;
  animation-delay: 0.42500000000000004s;
}
.minute-marks li:nth-child(25):after {
  animation-delay: 0.9520000000000001s;
  animation-delay: 0.9520000000000001s;
  animation-delay: 0.9520000000000001s;
  animation-delay: 0.9520000000000001s;
}
.minute-marks li:nth-child(26) {
  transform: rotate(150deg);
  transform: rotate(150deg);
  transform: rotate(150deg);
  transform: rotate(150deg);
  transform: rotate(150deg);
}
.minute-marks li:nth-child(26):before {
  animation-delay: 0.44200000000000006s;
  animation-delay: 0.44200000000000006s;
  animation-delay: 0.44200000000000006s;
  animation-delay: 0.44200000000000006s;
}
.minute-marks li:nth-child(26):after {
  animation-delay: 0.9690000000000001s;
  animation-delay: 0.9690000000000001s;
  animation-delay: 0.9690000000000001s;
  animation-delay: 0.9690000000000001s;
}
.minute-marks li:nth-child(27) {
  transform: rotate(156deg);
  transform: rotate(156deg);
  transform: rotate(156deg);
  transform: rotate(156deg);
  transform: rotate(156deg);
}
.minute-marks li:nth-child(27):before {
  animation-delay: 0.459s;
  animation-delay: 0.459s;
  animation-delay: 0.459s;
  animation-delay: 0.459s;
}
.minute-marks li:nth-child(27):after {
  animation-delay: 0.986s;
  animation-delay: 0.986s;
  animation-delay: 0.986s;
  animation-delay: 0.986s;
}
.minute-marks li:nth-child(28) {
  transform: rotate(162deg);
  transform: rotate(162deg);
  transform: rotate(162deg);
  transform: rotate(162deg);
  transform: rotate(162deg);
}
.minute-marks li:nth-child(28):before {
  animation-delay: 0.47600000000000003s;
  animation-delay: 0.47600000000000003s;
  animation-delay: 0.47600000000000003s;
  animation-delay: 0.47600000000000003s;
}
.minute-marks li:nth-child(28):after {
  animation-delay: 1.0030000000000001s;
  animation-delay: 1.0030000000000001s;
  animation-delay: 1.0030000000000001s;
  animation-delay: 1.0030000000000001s;
}
.minute-marks li:nth-child(29) {
  transform: rotate(168deg);
  transform: rotate(168deg);
  transform: rotate(168deg);
  transform: rotate(168deg);
  transform: rotate(168deg);
}
.minute-marks li:nth-child(29):before {
  animation-delay: 0.49300000000000005s;
  animation-delay: 0.49300000000000005s;
  animation-delay: 0.49300000000000005s;
  animation-delay: 0.49300000000000005s;
}
.minute-marks li:nth-child(29):after {
  animation-delay: 1.02s;
  animation-delay: 1.02s;
  animation-delay: 1.02s;
  animation-delay: 1.02s;
}
.minute-marks li:nth-child(30) {
  transform: rotate(174deg);
  transform: rotate(174deg);
  transform: rotate(174deg);
  transform: rotate(174deg);
  transform: rotate(174deg);
}
.minute-marks li:nth-child(30):before {
  animation-delay: 0.51s;
  animation-delay: 0.51s;
  animation-delay: 0.51s;
  animation-delay: 0.51s;
}
.minute-marks li:nth-child(30):after {
  animation-delay: 1.037s;
  animation-delay: 1.037s;
  animation-delay: 1.037s;
  animation-delay: 1.037s;
}
